<div class="container mt-5" id="Home">
    <div class="text-center">
        <h1 class="fon"><%= data.Heading  %></h1>
        <p class="mt-4 mb-3"><%= data.Description %></p>
    </div>
</div>
